.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color:rgb(0, 110, 255);
    text-decoration: none;
  }
  
  .navbar-center {
    display: flex;
  }
  
  .nav-link {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }

  .nav-link.active {
  font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .nav-btn {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .linker {
    color: black;
    text-decoration: none;
    margin-right: 10px;
  }
  .linker-sapced{
    margin-right: 10px;
  }